@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: white;
    flex-direction: column;
}

body .submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.title{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002C26;
    border-radius: 50% 50% 0% 0%;
}

.title h1{
    color: white;
}

.form{
    width: 100%;
    padding: 5px;
}

.submit-button button{
    width: 35%;
    border: none;
    background-color: #002C26;
    padding: 9px 15px;
    border-radius: 5px;
}

.submit-button button a{
    text-decoration: none;
    font-size: larger;
    color: white;
}

.cadastro{
    border: 2px solid green;
}

.cadastro label{
    display: flex;
    justify-self: center;
    align-items: center;
}

.cadastro input{
    border-radius: 5px;
    border-color: gray;
    padding: 10px;
}

.dados{
    display: flex;
    justify-content: space-between;
}

.service-box label{
    display: inline;
    justify-content: left;
}

.contact-box input{
    width: 49.6%;
}

.name-box input{
    width: 100%;
}

.value-box input{
    width: 100%;
}

.barra-inferior{
    display: flex;
    font-size: large;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
    background-color: #002C26;
    border-radius: 0% 0% 50% 50%;
    width: 100%;
}

.header_bot {
    margin: 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 12px 5%;
    background-color: #002C26;
    width: 100%;
    margin-bottom: 10px;
  }

  .logo {
    cursor: pointer;
    font-family: "Young Serif", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 2px 2px 0 rgb(0, 0, 0);
    letter-spacing: 3px;
    margin-right: 10em;
  }

  .header_bot button{
    padding: 5px 12px;
    background-color: #005200;
    color: #fff;
    border: 2px 2px 1px solid fff;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
      
  }
  
  .menu {
    list-style: none;
  }
  .menu li,a,ul {
    display: inline-block;
    padding: 0 16px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
  }
  
  .menu li a {
    transition: all 0.3s ease 0s;
  }
  
  .menu li a:hover {
    transition: all 0.5s ease 0s;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }

  @media screen and (min-width:459px) and (max-width: 799px) {
  
    .info{
      display: flex;
      flex-direction: column;
      height: 5em;
      justify-content: center;
      gap: 10px;
    }
    .info p{
      position: relative;
      margin: 0;
    }
}
  
  @media screen and (max-width: 458px) {
    
    .info{
      display: flex;
      flex-direction: column;
      height: 5em;
      justify-content: center;
      gap: 10px;
    }
    .info p{
      position: relative;
      margin: 0;
    }
  
    .header_bot{
      padding: 0;
      justify-content: space-between;
    }
  
    .logo{
      font-size: 20px;
    }
  
    .menu{
      display: flex;
      padding: 0;
      flex-direction: column;
    }
  
   
  }