@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body {
  margin: 0;
}

.info {
  display: flex;
  margin: auto;
  padding: 2px 100px;
  justify-content: space-between;
  background-color: rgb(0, 49, 5);
  color: #fff;
  align-items: center;
}

.info p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.phrase {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
}

li,
a,
button {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.header_bot {
  margin: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5%;
}

.logo {
  cursor: pointer;
  font-family: "Young Serif", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  letter-spacing: 3px;
}

button {
  padding: 5px 12px;
  background-color: #002C26;
  color: #fff;
  border: 2px 2px 1px solid fff;
  cursor: pointer;
  border-radius: 10px;
}

.menu {
  list-style: none;
}

.menu li {
  display: inline-block;
  padding: 0 16px;
}

.menu li a {
  transition: all 0.3s ease 0s;
}

.menu li a:hover {
  transition: all 0.5s ease 0s;
  color: #002C26;
  text-decoration: underline;
}

main {
  font-size: 40px;
}

footer {
  margin: 0;
  margin-top: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 12px;
  background-color: #002C26;
}

.menu_footer li {
  list-style: none;
  color: #fff;
}

.logo_end {
  font-size: 16px;
  color: #000;
  margin-top: 16px;
}

.main_img img {
  max-width: 100%;
  height: auto;
  background-color: red;
  width: auto;
  min-width: 100%;
  min-height: 100%
}

.container {
  display: flex;
}

.container_left {
  width: 50%;
  float: left;
  height: 550px;
  margin: 0 50px;
  padding: 10px 30px;
  text-align: justify;
  display: inline-block;
}

.container_left h2 {
  font-size: 24px;
  font-family: "Poppins";
  text-align: center;
}

.container_left p {
  font-size: 18px;
  font-family: "Poppins";
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #e3e3e3;
}

.container_left div {
  margin-top: 50px;
}

.container_right {
  display: grid;
  grid-template-columns: 35vh 35vh;
  height: 60vh;
  gap: 2vh;
}

.container_right img{
  display: grid;
  height: 100%;
  width: 100%;
}

.container_right .square {
  border: 1px solid black;
}


.container_left a{

 display: flex;
 flex-direction: column;

}